a{
    text-decoration: none;
    color: #b7b8bb;
}
body{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading{
    width: 20%;
    padding-bottom: 50px;
    color: white;
    font-family: Tahoma, sans-serif;
}


.container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #ffffff;
    text-shadow: rgba(255, 255, 255, 0.68) 0 0 15px;
}

.container .heading h3 span{
    font-weight: lighter;
}

.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .dream img{
    width: 100%;
    border-radius: 5px;
    border: #383838 1px solid;
    margin: 10px;
    box-shadow: rgba(255,255,255,0.14) 0 0 15px 1px;
}

.container .btn{
    margin: 40px 0 70px 0;
    padding: 15px 40px;
    border-radius: 5px;
}

.container .btn a{

    border: solid #00ffff 1px;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bolder;
    text-shadow: #ffffff 0 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container .btn a:hover {
    background-color: rgba(0, 229, 229, 0.98);
    color: #000000;
    border-radius: 10px;
    box-shadow: #00ffff 0 0 7px 1px;
}